/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #322968;
    height: 40rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    color: #02864a;
}

/* Common styles for the sections */
.section {
    width: 100%;
}

/* Styles for the "rating" section */
.rating {
    text-align: left;
}

/* Styles for the "reviews" section */
.reviews {
    text-align: left;
}
